[submodule "get_next_line"]
	path = [01] get_next_line
	url = https://github.com/zhunhe/get_next_line.git
	branch = main
[submodule "ft_printf"]
	path = [01] ft_printf
	url = https://github.com/zhunhe/ft_printf.git
	branch = main
[submodule "so_long"]
	path = [02] so_long
	url = https://github.com/zhunhe/so_long.git
	branch = main
[submodule "minitalk"]
	path = [02] minitalk
	url = https://github.com/zhunhe/minitalk.git
	branch = main
[submodule "push_swap"]
	path = [02] push_swap
	url = https://github.com/zhunhe/push_swap.git
	branch = main
[submodule "Philosophers"]
	path = [03] Philosophers
	url = https://github.com/zhunhe/Philosophers.git
	branch = main
[submodule "minishell"]
	path = [03] minishell
	url = https://github.com/zhunhe/minishell.git
	branch = main
[submodule "cub3d"]
	path = [04] cub3d
	url = https://github.com/zhunhe/cub3d.git
